[workspace]
authors = ["libalpm64 <159192189+libalpm64@users.noreply.github.com>"]
channels = ["https://conda.modular.com/max", "conda-forge"]
name = "Thistle"
platforms = ["linux-64"]
version = "1.0.1"

[tasks]
test = "mojo run -I src/ tests/thistle_test_vectors.mojo"
bench = "mojo run -I src/ tests/benchmark.mojo"

[dependencies]
python = ">=3.14.2,<3.15"
max = ">=26.1"
mojo = "==0.26.1"
pyarrow = ">=23.0.0,<24"
requests = ">=2.32.5,<3"
argon2-cffi = ">=25.1.0,<26"
