[workspace]
authors = ["libalpm64 <159192189+libalpm64@users.noreply.github.com>"]
channels = ["https://conda.modular.com/max", "conda-forge"]
name = "Thistle"
platforms = ["linux-64", "osx-arm64"]
version = "1.0.2"

[tasks]
build-pq = { cmd = "bash libs/build.sh", inputs = ["libs/src/**/*.c", "libs/build.sh"] }
test = { cmd = "mojo run -I src/ tests/thistle_test_vectors.mojo", depends-on = ["build-pq"] }
test-pq = { cmd = "LD_PRELOAD=libs/randombytes.so mojo run -I src/ tests/pq_test_vectors.mojo", depends-on = ["build-pq"] }
bench = { cmd = "mojo run -I src/ tests/benchmark.mojo", depends-on = ["build-pq"] }
clean-pq = "rm -rf libs/src/mldsa-native libs/src/mlkem-native libs/*.so libs/*.dylib libs/*.dll"

[dependencies]
python = ">=3.13"
max = ">=26.1"
mojo = "==0.26.1"

git = "*"
make = "*"
gcc = "*"

[target.linux-64.dependencies]
gcc_linux-64 = "*"

[target.osx-arm64.dependencies]
clang = "*"

[activation.env]
THISTLE_LIBS = "$PIXI_PROJECT_ROOT/libs"
