[workspace]
authors = ["libalpm64 <159192189+libalpm64@users.noreply.github.com>"]
channels = ["https://conda.modular.com/max", "conda-forge"]
name = "Thistle"
platforms = ["linux-64"]
version = "1.0.0"

[tasks]
bench = "mojo build -I src/ tests/blake3_benchmark.mojo"
test-all = "mojo run -I src/"

[dependencies]
python = ">=3.14.2,<3.15"
max = ">=26.1"
mojo = "==0.26.1"
pyarrow = ">=23.0.0,<24"
requests = ">=2.32.5,<3"
argon2-cffi = ">=25.1.0,<26"
