name: Benchmarks

on:
  workflow_dispatch:

jobs:
  benchmark:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: prefix-dev/setup-pixi@v0.9.4
        with:
          cache: false
          locked: false
          activate-environment: true

      - name: Build PQ libraries
        run: pixi run build-pq

      - name: Run benchmarks
        run: pixi run bench
